html {
  margin: 0;
  height: 100%;
}

body {
  margin: 0;
  height: 100%;
}

div#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #848FA5;
  height: 100%;
}

h1 {
  color: #2D2D2A;
}

div#board {
  display: grid;
  grid-template: repeat(8, 50px) / repeat(8, 50px);
  border: 5px solid #4C4C47;
}

div.game-square {
  height: 50px;
  width: 50px;
  display: flex;
  justify-content: center;
}

div.white {
  background-color: #E5DCC5;
}

div.black {
  background-color: #2D2D2A;
}

div.rhighlighted {
  box-shadow: 0px 0px 5px 5px #C14953;
  z-index: 5;
}