doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Connor's Chess
    link(rel="stylesheet" href="../css/styles.css" type='text/css')
    //- script(src="/js/game.js") 
  body 
    #container 
      header 
        h1.title CONNOR'S CHESS 
      #game 
        #board-container 
          #board